.container {
	display: grid;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100dvh;
	padding: 1.5rem 4rem;
	border: 10px solid;
	border-image: linear-gradient(to right, #9cd9d5e0, #000000f5) 1;
	border-radius: 30px;
	place-content: center;
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
	transition: all 0.5s ease-in-out;
}

.title {
	justify-content: center;
	align-items: center;
	border: 1px solid #a2c74b;
	padding: 0.3rem 0.5rem;
	border-radius: 20px;
	background-color: #d1cab8e0;
	color: rgb(0, 0, 0);
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.card {
	display: grid;
	background-color: #b3cedb;
	-webkit-backdrop-filter: blur(15px);
	/* -webkit-backdrop-filter: blur(15px); para funcionamiento de navegador */
	backdrop-filter: blur(15px);
	max-width: 500px;
	padding: 1.5rem 1rem;
	border: 1px solid #3b1a1a8f;
	border-radius: 50px;
	box-shadow: 0px 5px 15px #c573df;
	overflow: hidden;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.btn {
	padding: 1.5rem 2rem;
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	border: none;
	outline: none;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	background-color: #000000f5;
	background-image: linear-gradient(to right, #745d5df1, #90e6f1f5);
	color: #eeeaea;
	&:hover {
		color: rgb(0, 0, 0);
		font-size: 1.5rem;
		text-align: center;
		translate: 0px -4px;
		box-shadow: 0px 3px 10px #e6a1e2d8;
		transition: ease all 0.5s;
	}
}
